.hover:hover{

	color: black;
	font-weight: bolder;

}

.hover::first-letter{

font-family: 'Vollkorn', serif;

}

#question, h1 {

font-family: 'Spectral SC', serif;
font-weight: bold;


}

.correct{


color: gold;
font-weight: bolder;

	
}

h4, h5, .navbar{


font-family: 'Rokkitt', serif;


}

body, .jumbotron{


background-image: url(https://github.com/mijofields/Crystal_Hunter_Game/blob/master/assets/images/swirl_pattern.png?raw=true)

}
