.hover:hover{

	color: gold;
	font-weight: bolder;

}

.hover::first-letter{

font-family: 'Vollkorn', serif;

}

#question, h1 {

font-family: 'Spectral SC', serif;
font-weight: bold;


}

.correct{


color: gold;
font-weight: bolder;

	
}

h4, h5, .navbar{


font-family: 'Rokkitt', serif;



}